*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots

train_logs/*
*.ply

*.json

*.png

*.so

tmp/*

log

diff_gaussian_rasterization.egg-info
diff-gaussian-rasterization_modified

*.mp4
log*
figures/*
*.dds